# It's easy to add more libraries or choose different versions. Any libraries
# specified here will be installed and made available to your morph.io scraper.
# Find out more: https://morph.io/documentation/python

# Custom version of scraperwiki library
-e git+http://github.com/openaustralia/scraperwiki-python.git@morph_defaults#egg=scraperwiki

lxml==3.4.4
cssselect==0.9.1
requests==2.7.0
ipdb==0.8.1
ipython==3.2.0
BeautifulSoup==3.2.1
XlsxWriter==0.7.3
gnureadline==6.3.3
simplejson==3.7.2
wsgiref==0.1.2
